<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<section id="home">
  <h1 class="">Hello, <br/>Welcome to my portfolio page!</h1>
  <br>
  <h6 class ="">" Our greatest weakness lies in giving up.
    The most certain way to succeed is
    always to try just one more time. "</h6>
</section>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>


