<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <h2> Move your cursor on the photo for more inforations! </h2>
  <div> 
      <a class="project1" href="#">
          <img src="https://i.pinimg.com/564x/6e/86/44/6e8644190c56488dfe51955708e7db72.jpg" width="310" height="300" > 
          <img src="https://i.pinimg.com/originals/21/15/f2/2115f219388a123f92021ce3598997d0.jpg">
      </a>
      <a class="project2" href="#">
          <img src="https://i.pinimg.com/564x/d4/5a/7f/d45a7fd21752a03399034d78f07120fe.jpg" width="340" height="300"> 
          <img src="https://i.pinimg.com/originals/1e/f2/72/1ef272a4eec93b68fc30e198c992fcd2.jpg">
      </a>
      <a class="project3" href="#">
          <img src="https://i.pinimg.com/originals/d2/4f/03/d24f0355cfeff29e27306d16c1c8b55d.jpg" width="340" height="300"> 
          <img src="https://i.pinimg.com/originals/26/67/96/266796ba4c3f1b7c301b2e8df4e6160c.jpg">
      </a>
  <br>
  <p1> Project 1</p1>
  <p1> &nbsp;&nbsp;&nbsp;&nbsp; Project 2</p1>
  <p1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Project 3</p1>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %>


