

.java img{

    height:100%;
    width: 100%;
    object-fit:cover;    
    transform:scale(1.0);  
    transition: transform .5s; 
  
  }
  
  .java img:hover{       
    transform:scale(1.5);  
    transition: transform .5s; 	
  
  }
  